.doc {
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */
	input{
		width:100%;
		padding:1rem 1rem;
		box-sizing: border-box;
		border-radius: 0;
		border-bottom:1px solid #c0c0c0;
		border-right:1px solid #c0c0c0;
		border-left:none;
		border-top:none;
	}
	> p{
		padding:1rem 1rem;
		background-color: green;
		color:white;
		cursor:pointer;
	}
	> nav{
		background-color: #c0c0c0;
		color:white;
		padding:1rem;
		border-bottom: 1px solid #c0c0c0;
		cursor:pointer;
		user-select:none;
	}
	a{
		display: block;
		cursor: pointer;
		user-select:none;
		list-style: none;
		padding:1rem 1rem;
		margin: 0;
		border-bottom: 1px solid #c0c0c0;
		border-right: 1px solid #c0c0c0;
	}
}
.CategoryHeader{
	background-color: #c0c0c0;
	padding:0.5rem 1rem;
	margin: 0;
	font-size: 1rem;
}
a.DocHeader{
	background-color: #505050;
	border-right: 1px solid #505050;
	color:white;
}
